@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Roboto', sans-serif;
}

.bg-color-green {
    background-color: #11B980;
}

.bg-color-gray {
    background-color: #E2E2E2;
}

.bg-color-blue {
    background-color: #549DF2;
}

.btn {
    @apply px-3 py-2 border border-gray-600 rounded-2xl text-sm;
}

.btn-primary {
    background-color: rgba(84, 157, 242, 1);
    @apply text-white border-0 hover:shadow-xl;
}

.pagination-link {
    @apply text-sky-500 font-bold;
}

.pagination-link.disabled {
    color: rgba(0, 0, 0, 0.48);
}